 


@{
    ViewBag.Title = "Veiculo";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
 

@model SalesForceWeb.Domain.Entities.Veiculo

<script src="@Url.Content("~/Areas/Admin/Content/js/angular/angular.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Admin/Content/js/angular/service.js")" type="text/javascript"></script>


<script language="javascript">
    $("body").removeAttr('id', 'login-bg');
</script>
<div id="page-top-outer">
    <div id="page-top">
        <div id="logo">
            <a href=""><img src="~/Areas/Admin/Content/images/shared/logo.png" width="156" height="40" alt="" /></a>
        </div>
        <div id="top-search">
            
        </div>
        <div class="clear"></div>

    </div>

</div>

<div class="clear">&nbsp;</div>
<div class="nav-outer-repeat">
    <div class="nav-outer">
        <div id="nav-right">

            <div class="nav-divider">&nbsp;</div>
            <div class="showhide-account"><img src="~/Areas/Admin/Content/images/shared/nav/nav_myaccount.gif" width="93" height="14" alt="" /></div>
            <div class="nav-divider">&nbsp;</div>
            <a href="" id="logout"><img src="~/Areas/Admin/Content/images/shared/nav/nav_logout.gif" width="64" height="14" alt="" /></a>
            <div class="clear">&nbsp;</div>

            <div class="account-content">
                <div class="account-drop-inner">
                    <a href="" id="acc-settings">Settings</a>
                    <div class="clear">&nbsp;</div>
                    <div class="acc-line">&nbsp;</div>
                    <a href="" id="acc-details">Personal details </a>
                    <div class="clear">&nbsp;</div>
                    <div class="acc-line">&nbsp;</div>
                    <a href="" id="acc-project">Project details</a>
                    <div class="clear">&nbsp;</div>
                    <div class="acc-line">&nbsp;</div>
                    <a href="" id="acc-inbox">Inbox</a>
                    <div class="clear">&nbsp;</div>
                    <div class="acc-line">&nbsp;</div>
                    <a href="" id="acc-stats">Statistics</a>
                </div>
            </div>

        </div>
        <div class="nav">
            <div class="table">

                <ul class="select"></ul>

                <div class="nav-divider">&nbsp;</div>


                <div class="nav-divider">&nbsp;</div>


                <div class="nav-divider">&nbsp;</div>


                <div class="nav-divider">&nbsp;</div>

                
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>

<div id="content-outer">
    <div id="content">

        <div id="page-heading">
            <h1>Cadastrar Veiculos</h1>
        </div>

        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
            <tr>
                <th rowspan="3" class="sized"><img src="~/Areas/Admin/Content/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
                <th class="topleft"></th>
                <td id="tbl-border-top">&nbsp;</td>
                <th class="topright"></th>
                <th rowspan="3" class="sized"><img src="~/Areas/Admin/Content/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
            </tr>
            <tr>
                <td id="tbl-border-left"></td>
                <td>
                    <div id="content-table-inner">

                        <div id="table-content">

                            <div id="message-yellow">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="yellow-left">You have a new message. <a href="">Go to Inbox.</a></td>
                                        <td class="yellow-right"><a class="close-yellow"><img src="~/Areas/Admin/Content/images/table/icon_close_yellow.gif" alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="message-red">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="red-left">Error. <a href="">Please try again.</a></td>
                                        <td class="red-right"><a class="close-red"><img src="~/Areas/Admin/Content/images/table/icon_close_red.gif" alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="message-blue">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="blue-left">Welcome back. <a href="">View my account.</a> </td>
                                        <td class="blue-right"><a class="close-blue"><img src="~/Areas/Admin/Content/images/table/icon_close_blue.gif" alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="message-green">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="green-left">Product added sucessfully. <a href="">Add new one.</a></td>
                                        <td class="green-right"><a class="close-green"><img src="~/Areas/Admin/Content/images/table/icon_close_green.gif" alt="" /></a></td>
                                    </tr>
                                </table>
                            </div>
                            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "FormCadVeiculo", ng_app = "myapp", ng_controller = "tiposveiculos" })) {
                                @Html.AntiForgeryToken();
                                <table cellspacing="0"    cellpadding="0" width="50%" style="margin:0 auto;" id="product-table">
                                    <tr>
                                        <td colspan="4" style="text-align:center;color:#ff0000;">{{mensagem}}</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(model=>model.Placa)</td>
                                        <td>@Html.TextBoxFor(model => model.Placa, new {ng_model= "formcadveiculo.Placa", required="required", @style="text-transform:uppercase" })</td>
                                        <td>@Html.LabelFor(model=>model.CodigoTipo)</td>
                                        <td>
                                            <select name="CodigoTipo" id="CodigoTipo" ng-model="formcadveiculo.CodigoTipo">
                                                <option ng-repeat="listatp in tipos" value="{{listatp.id}}">{{listatp.tipoVeiculo}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(model=>model.Cor)</td>
                                        <td>@Html.TextBoxFor(model => model.Cor, new { ng_model = "formcadveiculo.Cor", required = "required" })</td>
                                        <td>@Html.LabelFor(model=>model.Renavam)</td>
                                        <td>@Html.TextBoxFor(model => model.Renavam, new { ng_model = "formcadveiculo.Renavam", required="required" })</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.LabelFor(model=>model.CodigoModelo)</td>
                                        <td >
                                            <select name="CodigoModelo" id="CodigoModelo" ng-model="formcadveiculo.CodigoModelo" >
                                                <option ng-repeat="listamd  in modelos" value="{{listamd.idModelo}}">{{listamd.nome}}</option>
                                            </select>
                                        </td>
                                        <td>@Html.LabelFor(model=>model.Ano)</td>
                                        <td>@Html.TextBoxFor(model=>model.Ano, new { ng_model= "formcadveiculo.Ano" })</td>
                                    </tr>
                                    
                                    <tr>
                                        <td colspan="4">
                                            <input type="button" ng-click="Limpar()" value="Limpar" />&nbsp;&nbsp;
                                            <input type="button"  value="Enviar" ng-click="CadastrarVeiculo()" ng-disabled="FormCadVeiculo.$invalid" />
                                        </td>
                                    </tr>
                                </table>
                               
                            }
                        </div>
                        
                        <div class="clear"></div>

                    </div>
                </td>
                <td id="tbl-border-right"></td>
            </tr>
            <tr>
                <th class="sized bottomleft"></th>
                <td id="tbl-border-bottom">&nbsp;</td>
                <th class="sized bottomright"></th>
            </tr>
        </table>
        <div class="clear">&nbsp;</div>

    </div>
    <div class="clear">&nbsp;</div>
</div>

<div class="clear">&nbsp;</div>

<div id="footer">
    <div id="footer-left">
        @DateTime.Now.ToString("dd/MM/yyyy")
    </div>
    <div class="clear">&nbsp;</div>
</div>




